@media screen and (max-width: 1228px){

}
@media screen and (max-width: 1199px){

}
@media screen and (max-width: 1070px){

}
@media screen and (max-width: 1030px){
    .session-parceiros{
        height: auto;
    }
    
    .salao{
        margin-top: 90px;
    }
}
@media screen and (max-width: 1023px){
.nav-button{
    /*float: right;*/
    display: inline-flex;
    position: relative;
    margin-top: 38px;
    display: block;
    right: 107px;
}
.nav-button-down{
    margin-top: 23px;
    transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
}
.title-slider{
    font-size: 30px;
}
}
@media screen and (max-width: 991px){
    .carousel-control-next, .carousel-control-prev{
        display: none;
    }
    .background-topo{
        padding: 300px 0px;
    }
}

@media screen and (max-width: 900px){
    
}
@media screen and (max-width: 766px){
    
}

@media screen and (max-width: 670px){
    .lead{
        display: block;
        font-size: 26px;
        line-height: 105%;
    }
    .title-h1{
        line-height: 140%;
        font-size: 46px;
    }
    .title-duo {
        font-size: 24px;
        bottom: 98px;
        right: 60px;
    }
    .title-duo span {
        font-size: 22px;
    }
    .text-end{
        font-size: 15px;
    }
    
}

@media screen and (max-width: 767px){
    .item-none{
        display: none!important;
    }
}

@media screen and (max-width: 530px){
    .background-topo{
        background: url("../images/topo-mobile.png") center no-repeat;
        background-size: cover;
        padding: 170px 0px;
    }
}
@media screen and (max-width: 465px){
    .header-down{
    height: 70px!important;
    }
    .menu{
        height: 90px;
    }
    .menu nav {
        margin-top: 90px;
    }
    .header-down .wrapper nav{
        margin-top: 70px;
    }
    .logo-costatec{
        height: 45px;
    }
    .header-down .wrapper .navbar-brand .logo-costatec-down{
        margin-top: 5px;
    }
    .header-down .wrapper .toggle{
        margin-top: 17px;
    }
    .toggle {
        display: block;
        margin: 25px 43px 0px 10px;
    }
    .button-helpdesk{
        padding: 8px 18px;
        margin: -11px auto 20px auto;
    }
    .header-down .wrapper .button-helpdesk-down {
        margin-top: -20px;
    }
}

@media screen and (max-width: 380px){
   .box-mot{
        display: block!important;
   }
   .box-mot img{
        display: block;
        margin: auto;
   }
   .image-course{
        display: block;
        max-width: 400px;
        width: 100%;
        height: auto;
   }
}
@media screen and (max-width: 340px){
    .nav-button{
        right: 77px; 
    }
    .toggle {
        bottom: 72px;
    }
}
@media screen and (max-width: 322px){
    .toggle {
        bottom: 72px;
    }
    .jumbotron-fluid-topo {
        height: 381px;
    }
}