/*
Theme Name:  My Child Theme. Child for Twenty Nineteen.
Theme URI:  https://rachelmccollin.com
Description:  Theme to support tutsplus tutorial. Child theme for the Twenty Nineteen theme.
Author:  Rachel McCollin
Textdomain:  mccollin
Author URI:  https://rachelmccollin.com/
Template:  twentynineteen
Version:  1.0
License:  GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html                 
*/

html, body{
    font-family: Verdana;
}
.button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background: none; 
    cursor: pointer;
}
h1:not(.site-title):before, h2:before {
    background: none;
    content: "";
    display: none;
    height: 2px;
    margin: auto;
    width: auto;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    margin: 0; 
}
.button:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
    background: none;
    outline: thin dotted;
    outline-offset: 0;
}
.btn{
	color: white;
}
.btn-link:hover {
    color: white;
    text-decoration: none;
}
.card{
    border: 1px solid #cc8400;
    border-radius: 20px;
}
.card-header {
    padding: 10px 10px;
    background-color: #ffa500;
}
.btn-link.focus, .btn-link:focus {
    text-decoration: none;
    box-shadow: none;
}
.card-body h3{
    font-size: 30px;
    font-weight: 400;
}
.card-body p{
    font-size: 14px;
}

#fale-conosco{
    /*padding-top: 120px;*/
    padding-bottom: 0px!important;
}
.mapa{
    width: 50%;
}
.mapa .mapa-google{
    width: 500px;
    height: 300px;
    max-width: 500px;
}
.form-all{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.form-chamado{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.form-control{
    border-radius: 0;
}
.input-cnt{
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-bottom: solid 2px #ccc;
}
.form-control:focus {
    border-color: inherit;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.col-sm-6 label, .col-sm-12 label{
    font-family: 'Lato light'; 
    position: absolute;
    transition: all .25s ease;   
    font-size: 14px;
    display: block;
    margin: 10px 0 0;
}
.col-sm-6, .col-sm-12{
    margin-bottom: 20px;
}
.actve{
    margin: -10px 0 0!important;
    font-size: 12px!important;
    transition: all .25s ease!important;
    color: #000!important;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea{
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px #eee;
    box-sizing: border-box;
    outline: none;
    padding: auto;
    -webkit-appearance: none;
    outline-offset: 0;
    border-radius: 0;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus{
    border-color: none;
    outline: none;
    outline-offset: none;
}
.form-control{
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px #eee;
}
.btn-primary {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #2b669a; 
    text-shadow: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;
    background-color: #fff;
}    

.btn:hover, .btn:focus {
    text-decoration: none;
}
.envio-mail{
    background-color: #4680A4;
}
.envio-mail:hover{
    color: #fff;
    background-color: #4680A4;
}
.title-h1{
    font-weight: 700;
    font-size: 34px;
}
.title-h3{
    font-size: 20px;
    font-weight: 400;
    color: #aeaeae;
}
.experiencia{
    
}